<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Página de Estrutura Básica</title>
        <meta charset="ISO-8859-1">
        <meta name="author" content="Rafael">
        <meta name="description" content="">
        <meta name="keywords" content="html5, tecnologia">
        
        <link rel="stylesheet" href="resources/CSS/estilo.css">
    </head>
    <body>
        <div id="Principal">
            <header class="hero">
                <div class="hero-content">
                    <h1>Inserir Notas</h1>
                </div>
            </header>
            <nav>
                <ul>
                    <li><h1>MENU</h1></li>
                    <li><a th:href="@{/}">Início</a></li>
                    <li><a th:href="@{/menuAlterarDisciplina}">Alterar disciplinas</a></li>
                    <li><a th:href="@{/menuInserirFaltas}">Inserir Faltas</a></li>
                    <li><a th:href="@{/notas1}">Inserir Notas</a></li>
                    <li><a th:href="@{/tabelaFaltas1}">Tabela Faltas</a></li>
                    <li><a th:href="@{/tabelaNotas1}">Tabela Notas</a></li>
                </ul>
            </nav>
            <main>
                <section class="content-section">
                    <form action="#" th:action="@{/salvarNotas}" th:object="${NotaLista}" th:method="post">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>Ra</th>
                                    <th>Disciplina</th>
                                    <th>Código</th>
                                    <th>Nota</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="nota,stat : *{listaNota}">
                                    <td><input type=text th:field="*{listaNota[__${stat.index}__].ra_aluno}" th:value="${nota.getRa_aluno()}" readonly="readonly"></td>
                                    <td><input type=text th:field="*{listaNota[__${stat.index}__].cod_disc}" th:value="${nota.getCod_disc()}" readonly="readonly"></td>
                                    <td><input type=text th:field="*{listaNota[__${stat.index}__].cod_avaliacao}" th:value="${nota.getCod_avaliacao()}" readonly="readonly"></td>
									<td><input type=text th:field="*{listaNota[__${stat.index}__].nota}" th:value="${nota.getNota()}"></td>
                                </tr>
                        </table>
                        <div class="buttons">
                       		<button type="submit" name="cmd" value="salvar">Salvar</button>
                        </div>
                    </form>
                </section>
            </main>
        </div>
        
    </body>
</html>