<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Página de Estrutura Básica</title>
        <meta charset="ISO-8859-1">
        <meta name="author" content="Rafael">
        <meta name="description" content="">
        <meta name="keywords" content="html5, tecnologia">
        
        <link rel="stylesheet" href="resources/CSS/estilo.css">
    </head>
    <body>
        <div id="Principal">
            <header class="hero">
                <div class="hero-content">
                    <h1>Tabela Faltas</h1>
                </div>
            </header>
            <nav>
                <ul>
                    <li><h1>MENU</h1></li>
                    <li><a th:href="@{/}">Início</a></li>
                    <li><a th:href="@{/menuAlterarDisciplina}">Alterar disciplinas</a></li>
                    <li><a th:href="@{/menuInserirFaltas}">Inserir Faltas</a></li>
                    <li><a th:href="@{/notas1}">Inserir Notas</a></li>
                    <li><a th:href="@{/tabelaFaltas1}">Tabela Faltas</a></li>
                    <li><a th:href="@{/tabelaNotas1}">Tabela Notas</a></li>
                </ul>
            </nav>
            <main>
                <section class="content-section">
                    <form th:action="@{/geraRelatorioFaltas}" th:method="post" th:object="${disciplina}" th:target="_blank">
                        <input type=hidden th:name="disciplina" th:value="${disciplina}"/>
                        <table class="content-table2">
                            <thead>
                                <tr>
                                    <th>Ra aluno</th>
                                    <th>Nome aluno</th>
                                    <th>Sem 1</th>
                                    <th>Sem 2</th>
                                    <th>Sem 3</th>
                                    <th>Sem 4</th>
                                    <th>Sem 5</th>
                                    <th>Sem 6</th>
                                    <th>Sem 7</th>
                                    <th>Sem 8</th>
                                    <th>Sem 9</th>
                                    <th>Sem 10</th>
                                    <th>Sem 11</th>
                                    <th>Sem 12</th>
                                    <th>Sem 13</th>
                                    <th>Sem 14</th>
                                    <th>Sem 15</th>
                                    <th>Sem 16</th>
                                    <th>Sem 17</th>
                                    <th>Sem 18</th>
                                    <th>Sem 19</th>
                                    <th>Sem 20</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tabelaFaltas : ${listaTabelaFaltas}">
                                    <td th:text="${tabelaFaltas.ra_aluno}"></td>
                                    <td th:text="${tabelaFaltas.nome_aluno}"></td>
                                    <td th:text="${tabelaFaltas.sem1}"></td>
                                    <td th:text="${tabelaFaltas.sem2}"></td>
                                    <td th:text="${tabelaFaltas.sem3}"></td>
                                    <td th:text="${tabelaFaltas.sem4}"></td>
                                    <td th:text="${tabelaFaltas.sem5}"></td>
                                    <td th:text="${tabelaFaltas.sem6}"></td>
                                    <td th:text="${tabelaFaltas.sem7}"></td>
                                    <td th:text="${tabelaFaltas.sem8}"></td>
                                    <td th:text="${tabelaFaltas.sem9}"></td>
                                    <td th:text="${tabelaFaltas.sem10}"></td>
                                    <td th:text="${tabelaFaltas.sem11}"></td>
                                    <td th:text="${tabelaFaltas.sem12}"></td>
                                    <td th:text="${tabelaFaltas.sem13}"></td>
                                    <td th:text="${tabelaFaltas.sem14}"></td>
                                    <td th:text="${tabelaFaltas.sem15}"></td>
                                    <td th:text="${tabelaFaltas.sem16}"></td>
                                    <td th:text="${tabelaFaltas.sem17}"></td>
                                    <td th:text="${tabelaFaltas.sem18}"></td>
                                    <td th:text="${tabelaFaltas.sem19}"></td>
                                    <td th:text="${tabelaFaltas.sem20}"></td>
                                    <td th:text="${tabelaFaltas.total}"></td>
                                </tr>
                        </table>
                        <div class="buttons">
                        	<button type="submit" name="cmd" value="relatorio">Gerar Relatório</button>
                        </div>
                    </form>
                </section>
            </main>
        </div>
        
    </body>
</html>